credentials_file: ~/.uwo_credentials.bd

heuristic: resources/heuristic.py
dcmconfig_json: resources/dcm2niix_config.json

cfmm2tar_download_options: '--skip-derived'

heudiconv_options: '--minmeta --use-enhanced-dicom --no-sanitize-jsons'

search_specs:
  - dicom_query:
      study_description: Prado^*
      study_date: 20230101-
    metadata_mappings:
      subject:
        source: PatientID
        pattern: '_([^_]+)$'
        sanitize: true
      session:
        source: StudyDate
  - dicom_query:
      study_description: Menon^*
      study_date: 20230101-
      patient_name: AppKI2.hTau.*
    metadata_mappings:
      subject:
        source: PatientID
        pattern: '_([^_]+)$'
        sanitize: true
      session:
        source: StudyDate

post_filter_specs:
  include:
  exclude:
    - StudyInstanceUID == '2.16.756.5.5.200.8323328.24337.1724894202.13553'

