credentials_file: ~/.uwo_credentials.bd
final_bids_dir: "bids"

# 1. query
search_specs:
  - dicom_query:
      study_description: Menon^CogMS
#      study_date: 20230101-20230301
    metadata_mappings:
      subject:
        source: PatientID
        pattern: '[sS][fF][cC][-_]?([0-9]+)'
        sanitize: true
      session:
        source: StudyDate
#        source: PatientID
#        pattern: '[sS][fF][cC][-_]?[0-9]+[-_](.+)$'
        sanitize: true
#        fillna: '01'
#        map:
#          v2: '02'
#          V2: '02'

# 2. filter
study_filter_specs:
  include:
  exclude:
#    - PatientID == '23.05.26-10:43:49-DST-1.3.12.2.1107.5.2.0.18932'
    - PatientID == 'TriggerTest'
    - subject != subject # if subject is nan 


# 3. download
cfmm2tar_download_options: ''
merge_duplicate_studies: True



# 4. convert
heudiconv_options: '--minmeta '
heuristic: heuristics/Menon_CogMSv2.py
dcmconfig_json: resources/dcm2niix_config.json



# 5. fix 
post_convert_fixes:
  - name: remove_fieldmaps
    pattern: "fmap/*dir-AP*"
    action: remove

  - name: add_phase_encoding
    pattern: "func/*bold.json"
    action: update_json
    updates:
      NewPhaseEncodingDirection: "j-"

  - name: reorient_nifti
    pattern: "anat/*T1w.nii.gz"
    action: fix_orientation

#intermediate output folders
stages:
  query: "results/0_query"
  filter: "results/1_filter"
  download: "results/2_download"
  convert: "results/3_convert"
  fix: "results/4_fix"


