name: Snakeformat

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

permissions:
  contents: read

jobs:
  snakeformat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          environments: dev
          cache: true
      
      - name: Run snakefmt check
        run: pixi run -e dev snakefmt --check --compact-diff .
